<div class="content">
  {{#if chatting}}
  <div class="chatbox">
    <h3>Chat Room</h3>
    <div class="chatbox_meta">
      <div class="chatbox_room-details">
        <h4>Room URL</h4>
        <div class="chatbox_link">
          <p>{{url}}</p>
        </div>
        <p>You can copy and share this link to start chatting</p>
      </div>
      <div class="chatbox_people">
        <h4>Connected:</h4>
        <ul id="people">
          <p>No-one yet...</p>
        </ul>
      </div>
    </div>
    <ul class="chatbox_message-list" id="messages"></ul>
    <form action="" class="chatbox_form" id="chat-form" autocomplete="off">
      <input id="m" class="chatbox_message-input" autocomplete="off" autofocus />
      <button class="chatbox_message-button">Send [Enter]</button>
    </form>
  </div>
  <div class="name-form">
    <h3>Change Your Name</h3> 
    <p><label for="user-field">Your Name:</label></p>
    <p><input type="text" size="10" id="user-field" name="user-field" readonly="true" value="{{user.name}}"></p>
    <p><button id="update-user-button">Change</button>
    <button id="save-name" class="hidden">Save</button></p>
  </div>
  {{else}}
  <div class="createbox">
    <h2>Create Your Chatroom</h2>
    <p class="createbox_button">
      <a href="{{random}}">Click Here</a>
    </p>
    <p>Instructions:</p>
    <ol>
      <li>Click button above</li>
      <li>Send link to friends</li>
      <li>Start chatting</li>
    </ol>
  </div>
  {{/if}}
  <div class="infobox">
    <h3>About</h3>
    <p>This project was built to learn about websockets.</p>
    <p>It is simple chatroom where multiple users can join and start chatting in real-time.</p>
    <p>It's built with NodeJS and <a href="https://expressjs.com/">ExpressJS</a>, and uses <a href="</a>">websockets</a> (<a href="https://socket.io/get-started/chat/">socket.io</a>) for real-time updates.</p>
  </div>
</div>