<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="" name="description">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <!--<link href="images/favicon.png" rel="icon"> -->
</head>

<body>
  <header class="header">
    <div class="header_title">
      <h1><a href="/">{{ title }}</a></h1>
      <h2 class="subtitle">{{ subtitle }}</h2>
    </div>
  </header>
  <!-- class = content -->
  {{{body}}}
  <footer class="footer">
    <ul>
      <li>a <a href="//treerock.me/">treerock</a> project <li>{{ lastUpdated }}</li>
      <li><a href="https://gitlab.com/BruceHad/websockets-chat">gitlab repository</a></li>
    </ul>
  </footer>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/script.js" type="module"></script>

</html>