$dark: #851919;
$pale: #D3C6C6;

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.hidden {
  display: none;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 8px 0;
  line-height: 1.3;
}

h1,
h2,
h3 {
  font-family: serif;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Hevetica, Arial, sans-serif;
}

.header,
.content,
.footer {
  padding: 0 15px;
}

.header_title {
  h1 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 15px 0 5px 0;
  }

  .subtitle {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.footer {
  margin-top: 15px;
  padding: 5px 15px;
  background-color: #0f1419;
  color: #ddd;

  a {
    color: inherit;
  }

  ul {
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 5px 0;
  }

}


@media (min-width: 768px) {
  .header {
    display: flex;
  }

  .header_title {
    flex: 1 0;
  }

  .header_name-form {
    flex: 0 1 auto;

  }

  .content {
    display: flex;
    margin: 0 -30px;
    max-width: 100%;
  }

  .chatbox, .createbox {
    flex: 2 0;
    margin: 0 30px;
  }

  .infobox,
  .name-form {
    flex: 1 0;
    margin: 0 30px;
  }
}

.content {
  h3 {
    margin: 15px 0 5px 0;
  }
}


.chatbox_meta {
  display: flex;
  margin: 0 -15px;

  .chatbox_room-details,
  .chatbox_people {
    flex: 1 0;
    padding: 0 15px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }

  h4 {
    font-size: 1rem;
    margin:5px 0;
    font-weight: bold;
    font-family: inherit;
    // text-align: center;
  }
}
.chatbox_link {
  border: 1px dotted $dark;
  text-align: center;
  border-radius: 2px;
  color: $dark;
  font-weight: bold;
  background-color: $pale;
}

.name-form {

  input,
  button {
    font-size: 1.25rem;
    margin: 0;
  }

  input {
    border: 1px inset black;
    padding: 3px;
    border-radius: 3px;
  }

  input[readonly] {
    color: #666;
    background-color: #ccc;
  }
}

// .alert a {
//   display: block;
//   text-align: center;
//   font-size: large;
//   color: black;
// }

// .alert-chat {
//   background-color: $pale;
//   width: 70%;
//   margin: 20px auto;
// }

// .user-details {

//   padding: 10px 0;

//   #user-field {
//     padding: 5px;
//     margin: 0;
//     outline: 1px dotted #eee;
//     border: 0;
//   }

//   #user-field:focus {
//     outline: 1px dotted black;
//     text-align: left;
//   }

//   button {
//     padding: 5px;
//     margin: 0;
//     width: 70px;
//     text-transform: lowercase;
//     border: 1px solid #ddd;
//     border-radius: 2px;
//     color: #666;
//   }
// }

.chatbox_message-list {
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
  height: 50vh;
  overflow-y: scroll;
  border: 1px solid $dark;
  // border-bottom: 1px dashed $dark;
  width: 100%;

  li {
    padding: 5px 10px;
    background-color: $pale;
  }

  li:nth-child(odd) {
    background: #eee;
  }
}

.chatbox_message-input {
  background-color: white;
  border: 1px solid $dark;
  border-top: 0;
  width: 100%;
  padding: 10px 5px;
  margin: 0px;
}

.chatbox_message-button {
  width: 100%;
  border: 0;
  background-color: $dark;
  color: white;
  padding: 5px;
  margin: 0;
  border: 0;
}